:root {
    --light-gray-bg: #f8f9fa;
}

.case-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--light-gray-bg);
    min-height: 100vh;

}

.case-card {
    display: block;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.case-title {
    font-size: 2rem;
    margin-bottom: 5px;
}

.case-title-edit {
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 0px 5px 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: none;
    outline: none;
    color: inherit;
    width: 100%; 
    cursor: text;
}

.case-status {
    font-weight: bold;
    color: #666;
    margin-bottom: 15px;
}

.case-desc {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
    white-space: pre-wrap;
}

.case-desc-edit {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
    resize: none; 
    overflow-y: auto; 
    outline: none;
    background-color: #fff; 
  }
  
.case-small {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}

.case-category {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.case-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-preview img {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.image-preview {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.delete-button {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #cc2222;
    border: 1.8px solid #cc2222;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0%) brightness(1);
    transition: 0.05s ease-in-out;
    cursor: pointer;
}

.delete-button:hover {
    filter: grayscale(40%) brightness(0.8);
}

.delete-icon {
    width: 13px;
    height: 13px;
}