body {
    font-family: 'Inter', sans-serif;
}

.cases-container {
    padding: 30px 50px;
    justify-content: left;
}

.header {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin: 50px 0;
    user-select: none;
    margin-top: 0;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
}

@media (max-width: 1000px) {
    .cases-container {
        padding: 30px 50px;
    }

    .card-container {
        justify-content: left;
    }
}

@media (max-width: 740px) {
    .card-link {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .cases-container {
        padding: 30px 20px;
    }


    .card-container {
        justify-content: left;
    }

    .card-link {
        width: 100%;
    }
}