body {
    font-family: 'Inter', sans-serif;
}

.cases-container {
    padding: 30px 50px;
    justify-content: center;
}

.header {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin: 50px 0;
    user-select: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 70px;
}

@media (max-width: 1000px) {
    .cases-container {
        padding: 30px 50px;
    }

    .card-container {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .cases-container {
        padding: 30px 20px;
    }


    .card-container {
        justify-content: center;
    }
}