* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    user-select: none;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

.attention-button {
    background-color: #d67d16;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 15px;
}

.attention-button:hover {
    background-color: rgb(194, 126, 0);
}

.warn-button {
    background-color: #cc2222;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 15px;
}

.warn-button:hover {
    background-color: #bf1a1a;
}

.normal-button {
    background-color: #226ccc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 15px;
}

.normal-button:hover {
    background-color: #1a5bbf;
}

.checkbox-container {
    display: inline-flex;
    align-items: baseline;
    gap: 5px;
}

.checkbox {
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin: 5px 0px 0px 3px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
}

.container {
    padding: 30px 50px;
    justify-content: left;
    width: 1000px;
}

.centered_container {
    max-width: 1200px;
    padding: 70px 50px;
    margin: auto;
}


@media (max-width: 1000px) {
    .normal-button, .warn-button, .attention-button {
        padding: 8px 12px;
        font-size: 13px;
    }

    h1 {
        font-size: 28px;
    }

    .container {
        padding: 30px 50px;
        width: 750px;
    }

    .centered_container {
        max-width: 1000;
        padding: 70px 50px;
        margin: auto;
    }
}

@media (max-width: 740px) {
    .normal-button, .warn-button, .attention-button {
        padding: 6px 8px;
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    .container {
        padding: 30px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .centered_container {
        max-width: 800px;
        padding: 70px 50px;
        margin: auto;
    }

    button {
        width: 95%;
        height: 35px;
        margin-top: 0px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    .container {
        padding: 20px 20px;
        width: 95%;
    }

    .centered_container {
        max-width: 100%;
        padding: 40px 30px;
        margin: auto;
    }

    button {
        width: 95%;
        height: 35px;
        margin-top: 0px;
    }

    .normal-button {
        width: 100%;
        margin-top: 0px;
    }

}