.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
}

.contact-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    padding: 3rem;
}

.contact-left {
    margin-top: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
}

.contact-box {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}

.contact-icons {
    margin-top: 30px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 1rem 1.5rem;
    background-color: #969696;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    align-self: flex-start;
}

.contact-form button:hover {
    background-color: #bbbbbb;
    transition: 0.2s ease-in-out;
}


@media (max-width: 768px) {
    .contact-grid {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }

    .contact-left,
    .contact-form {
        max-width: 100%;
    }

    .contact-title {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .contact-left {
        margin-top: 0px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0px;
        max-width: 100%;
    }

    .contact-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: center;
        padding: 0px 0px;
    }

    .contact-form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .contact-title {
        font-size: 1.75rem;
    }

    .contact-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-form button {
        width: 100%;
        text-align: center;
    }
}