body {
  font-family: 'Inter', sans-serif;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  background: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  user-select: none;
}

/* Logo */
#logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

#logo img {
  height: 60px;
  margin-right: 20px;
}

#navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Nav links */
#navbar-right a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  padding: 8px;
}

#navbar-right a::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 50%;
  bottom: 0;
  width: 0;
  background: rgb(0, 0, 0);
  transition: width .15s ease-out;
  transform: translateX(-50%);
}

#navbar-right a:hover::after {
  width: 55%;
}


#hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

#hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

@media (max-width: 1000px) {
  #navbar-right {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }

  #navbar-right.show {
    display: flex;
  }

  #hamburger {
    display: flex;
  }
}