body {
  font-family: 'Inter', sans-serif;
}


#navbar {
  display: flex;
  justify-content: space-between; /* Push logo left, links right */
  align-items: center; /* Vertically center logo and links */
  padding: 35px 300px; /* Adjust padding for a tighter layout */
  position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  user-select: none;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 48px; /* Slightly larger text */
  font-weight: normal;
  cursor: pointer;
}

#logo:hover {
  text-decoration: none;
  color: #363636;
  
}

#logo img {
  height: 100px; /* Bigger logo image */
  margin-right: 35px;
}

#navbar-right {
  display: flex;
  align-items: center;
  gap: 25px; /* Space between nav links */
}

#navbar a {
  font-family: "inter";
  font-weight: 800;
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
  position: relative;
  padding: 10px;
}

/* Hover effect */
#navbar-right a::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 50%;
  bottom: 0;
  width: 0;
  background: rgb(0, 0, 0);
  transition: width .15s ease-out;
  transform: translateX(-50%);
}

#navbar-right a:hover::after {
  width: 55%;
}
