.side-menu {
    position: fixed;
    top: 0;
    right: -600px; /* Hidden by default */
    width: 600px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.side-menu.open {
    right: 0;
}

.toggle-menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-menu-button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    margin-bottom: 10px;
}

form input,
form textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
}

.menu-header {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu-header img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    filter: grayscale(30%) brightness(1);
    transition: .05s;
    cursor: pointer;
}

.menu-header img:hover {
    filter: grayscale(40%) brightness(.8);
}

@media (max-width: 740px) {
    .side-menu {
        width: 100%;
        right: -100%;
    }

    .toggle-menu-button {
        top: 10px;
        right: 0px;
    }
}

@media (max-width: 600px) {
    .side-menu {
        width: 100%;
        right: -100%;
    }

    .toggle-menu-button {
        top: 10px;
        right: 10px;
    }
}