.side-menu {
    position: fixed;
    top: 0;
    right: -600px; /* Hidden by default */
    width: 600px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.side-menu.open {
    right: 0; /* Slide in when open */
}

.toggle-menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-menu-button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    margin-bottom: 10px;
}

form input,
form textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
}